# ========================================
# DOMÍNIOS E HOSTS
# ========================================
DOMINIO=datareview.com.br
# EMAILSECURE=admin@datareview.com.br
EMAILSECURE=nery.informatica@gmail.com

N8N_HOST=n8n.datareview.com.br
METABASE_HOST=metabase.datareview.com.br
OPENCLAW_HOST=openclaw.datareview.com.br

# ========================================
# POSTGRESQL
# ========================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres@6379
POSTGRES_DB=maindb

# Databases específicos por serviço
OPENCLAW_DB_NAME=openclaw
METABASE_DB_NAME=metabase
N8N_DB_NAME=n8n
AIRFLOW_DB_NAME=airflow

# ========================================
# REDIS
# ========================================
REDIS_PASSWORD=redis@6379

# ========================================
# N8N
# ========================================
N8N_HOST=n8n.datareview.com.br
N8N_SECURE_COOKIE=false

# ========================================
# METABASE
# ========================================
METABASE_ADMIN_EMAIL=nery.informatica@gmail.com
METABASE_ADMIN_PASSWORD=metabase@6379
METABASE_HOST=metabase.datareview.com.br

# ========================================
# GRAFANA
# ========================================
GRAFANA_PASSWORD=grafana@6379

# ========================================
# TIMEZONE
# ========================================
TZ=America/Sao_Paulo

# ========================================
# MONGODB
# ========================================
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=mongo@6379
MONGO_DATABASE=maindb

# ========================================
# JUPYTERLAB
# ========================================
JUPYTER_TOKEN=jupyter@6379
JUPYTER_HOST=jupyterlab.datareview.com.br

# ========================================
# AIRFLOW
# ========================================
AIRFLOW_FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
AIRFLOW_SECRET_KEY=airflow-secret-key-6379
AIRFLOW_HOST=airflow.datareview.com.br
